@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Quicksand:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

.background {
    background-image: url("./images/background-cover.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.container {
    width: 83%;
    height: 83%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 0.5px solid rgb(238, 236, 236); 
    border-radius: 20px;
    box-shadow: 10px 10px 10px grey;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.container .top-container {
    height: 14%;
    width: 90%;
    font-family: 'Archivo Black', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .top-container .left-content {
    width: 50%;
    font-size: 60px;
} 

.container .top-container .left-content .text-bold {
    text-decoration: none;
    color: orange;
}

.container .top-container .left-content .text-light {
    font-family: 'Quicksand', sans-serif;
    margin-left: -15px;
}

.container .top-container .right-content {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container .top-container .right-content .add-button {
    font-size: 45px;
    color: orange;
    transition: 0.5s ease-in-out;
}

.container .top-container .right-content .add-button:hover, .text-small:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.container .top-container .right-content .text-small {
    font-family: 'Quicksand', sans-serif;
    margin-left: 10px;
    font-size: 40px;
    transition: 0.5s ease-in-out;
}

.container .bottom-container {
    width: 95%;
    height: 75%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 10px;
    position: relative;
}

.container .bottom-container .list-box {
    width: 240px;
    height: 322px;
    background-color: white;
    border: 3px solid orange;
    border-radius: 10px;
    margin: 30px auto;
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s ease-in-out;
    position: relative;
}

.container .bottom-container .list-box .list-heading {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 28px;
    color: orange;
    font-weight: bold;
    margin: 12px auto;
}

.container .bottom-container .list-box hr {
    width: 60%;
    margin: 0 auto;
}

.container .bottom-container .list-box .items-container {
    width: 90%;
    height: 60%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style-type: none;
    overflow-x: hidden;
}

.container .bottom-container .list-box .items-container li {
    height: 25px;
    display: flex;
    align-items: center;
    padding: 5px 0;
    position: relative;
}

.container .bottom-container .list-box .items-container li:hover {
    background-color: #F7F7F7;
    padding: 5px 0;
}

.container .bottom-container .list-box .items-container li .task-name {
    font-size: 20px;
    margin-left: 15px;
}

.container .bottom-container .list-box .items-container li .task-name:hover {
    cursor: default;
}

.container .bottom-container .list-box .items-container li i {
    font-size: 30px;
    position: absolute;
    top: 3px;
    right: 10px;
    transition: 0.2s ease-in-out;
}

.container .bottom-container .list-box .items-container li i:hover {
    transform: scale(1.2);
    cursor: pointer;
    color: red;
}

.container .bottom-container .list-box .list-tools {
    position: absolute;
    bottom: 8px;
    right: 8px;
}

.container .bottom-container .list-box .list-tools i {
    font-size: 32px;
    color: orange;
    padding: 3px;
    margin-left: 3px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.container .bottom-container .list-box .list-tools i:hover {
    transform: scale(1.2);
}

.container .bottom-container .list-box .list-tools .fa-trash-alt {
    color: red;
}


/* scroll bar styling */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: orange; 
    border-radius: 12px;
}

/* ---- Add-List PopUp-Box-Styling ---- */
.add-list-popup {
    width: 30%;
    height: 40%;
    background-color: white;
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
    border: 0.5px solid rgb(238, 236, 236); 
    border-radius: 20px;
    box-shadow: 10px 10px 10px grey;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;       /* Foreground-Property */
    transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms, transition 200ms ease-in-out 0ms;
    
}

.add-list-popup.active {
    top: 50%;
    left: 50%;
    opacity: 1;
    pointer-events: all;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms, transition 200ms ease-in-out 0ms;
}

.add-list-popup .popup-heading {
    font-family: 'Quicksand', sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: orange;
}

.add-list-popup input {
    width: 75%;
    height: 25px;
    padding: 1px 5px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
}

.add-list-popup button {
    margin: 5px;
    padding: 10px 25px;
    border-radius: 40px;
    border: none;
    background-color: orange;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    opacity: 0.6;
    pointer-events: none;
}

.add-list-popup button.active {
    opacity: 1;
    pointer-events: auto;
}

.add-list-popup button:hover {
    transform: scale(1.1);
}

.add-list-popup .back-button {
    position: absolute;
    top: 110%;
    font-size: 45px;
    color: orange;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.add-list-popup .back-button:hover{
    transform: scale(1.2);
}
/* --------------- END OF ADD LIST POPUP-BOX --------------- */


/* ---- Add-Task PopUp-Box-Styling ---- */
.add-task-popup {
    width: 30%;
    height: 40%;
    background-color: white;
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
    border: 0.5px solid rgb(238, 236, 236); 
    border-radius: 20px;
    box-shadow: 10px 10px 10px grey;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;       /* Foreground-Property */
    transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms, transition 200ms ease-in-out 0ms;
}

.add-task-popup.active {
    top: 50%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms, transition 200ms ease-in-out 0ms;
}

.add-task-popup .popup-heading {
    font-family: 'Quicksand', sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: orange;
}

.add-task-popup input {
    width: 75%;
    height: 25px;
    padding: 1px 5px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
}

.add-task-popup button {
    margin: 5px;
    padding: 10px 25px;
    border-radius: 40px;
    border: none;
    background-color: orange;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    opacity: 0.6;
    pointer-events: none;
}

.add-task-popup button.active {
    opacity: 1;
    pointer-events: auto;
}

.add-task-popup button:hover {
    transform: scale(1.1);
}

.add-task-popup .back-button {
    position: absolute;
    top: 110%;
    font-size: 45px;
    color: orange;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.add-task-popup .back-button:hover{
    transform: scale(1.2);
}
/* --------------- END OF ADD TASK POPUP-BOX --------------- */

































/* Moto G4 & Galaxy S5 Responsive */
@media screen and (min-width: 360px) and (max-width: 600px){
    .container{
        width: 85%;
        height: 77%;
    }

    .container .top-container {
        height: 15%;
        width: 80%;
    }

    .container .top-container .left-content {
        font-size: 40px;
        width: 80%;
    }

    .container .top-container .left-content .text-light{
        margin-left: -10px;
    }
    
    .container .top-container .right-content{
        width: 20%;

    }
    
    .container .top-container .right-content .text-small{
        display: none;
    }

    .container .bottom-container .list-box {
        width: 200px;
        height: 300px;
    }

    .container .bottom-container .list-box .list-heading {
        font-size: 25px
    }

    .container .bottom-container .list-box hr {
        width: 55%;
    }

    .container .bottom-container .list-box .items-container {
        margin: 5px auto;
    }

    .add-list-popup {
        width: 68%;
    }
    
    .add-task-popup {
        width: 68%;
    }
}

